.__cp-container {
    max-width: 1110px;
    // margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .__cp-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .__radio-buttons {
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .__radio-wrapper {
            display: flex;
            align-items: center;


            label {
                text-align: start;
            }

            input {
                margin-right: .5rem;
            }
        }
    }
}

.__text-error {
    color: $color-red-1;
    font-size: $font-size-13;
}